@media only screen and (max-width: 600px) {

    .footer-wrapper > .right-section > a{

        height: 25px !important;
        width: 25px !important;


    }

}

@media only screen and (max-width: 450px) {

    .footer-wrapper{

        flex-direction: column !important;

    }

    .footer-wrapper > div{

        width: 100% !important;
        justify-content: center;
        align-items: center;

    }

}