@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{

    margin: 0px;

}

.title-font{

    font-size: 50px;
    background: linear-gradient(90deg, #3300FF 0%, rgba(234, 67, 53, 0.957503) 0.01%, #4285F4 33.33%, #34A853 70.31%, #FBBC04 99.99%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.primary-font{

    font-size: 30px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.description-font{

    font-size: 18px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;

}

.muted-font{

    font-size: 14px;
    color: #B3B3B3;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;

}

.reg-button{

    background: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 8px !important;
    border-image: linear-gradient(90deg, #FF0606 31.25%, rgba(36, 0, 255, 0.796044) 63.54%); 
    border-image-slice: 1;
    padding: 12px 12px;

}

.reg-button:focus{

    outline: none;
    box-shadow: none;

}

.card{

    box-shadow: 0px 4px 15px 5px rgba(188, 188, 188, 0.25) !important;

}

.left-section{

    align-items: center;
    justify-content: center;

}

@media only screen and (max-width: 640px) {

    .landing-wrapper{

        flex-direction: column !important;

    }

}