/* landing.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.title-font {
  font-size: 50px;
  background: linear-gradient(
    90deg,
    #3300ff 0%,
    rgba(234, 67, 53, 0.957503) 0.01%,
    #4285f4 33.33%,
    #34a853 70.31%,
    #fbbc04 99.99%,
    #ffe600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.primary-font {
  font-size: 30px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.description-font {
  font-size: 18px;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.muted-font {
  font-size: 14px;
  color: #b3b3b3;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.reg-button {
  background: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 8px !important;
  border-image: linear-gradient(
    90deg,
    #ff0606 31.25%,
    rgba(36, 0, 255, 0.796044) 63.54%
  );
  border-image-slice: 1;
  padding: 12px 12px;
}

.reg-button:focus {
  outline: none;
  box-shadow: none;
}

.card {
  box-shadow: 0px 4px 15px 5px rgba(188, 188, 188, 0.25) !important;
}
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* @font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Nunito';
  src: url('../font/Nunito-Regular.ttf');
} */
.sub-header {
  font-family: 'Montserrat';
  font-weight: 700;
}
.header-red {
  color: #a50e0e;
}
.header-blue {
  color: #174ea6;
}
.header-green {
  color: #188038;
}
body {
  font-family: Nunito;
}
.left-section {
  align-items: center;
  justify-content: center;
}
.intro__wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro__wrapper > .intro__row {
  display: flex;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.intro__wrapper > .intro__row > img {
  width: 400px;
  border-radius: 20px;
  margin: 0 20px;
}
.intro__wrapper > .intro__row > p {
  margin: 0 20px;
  width: 400px;
}
.mobile-resp-text {
  display: none;
}
@media only screen and (max-width: 900px) {
  .mobile-resp-text {
    display: block;
  }
  .hide-on-med {
    display: none;
  }
}
@media only screen and (max-width: 766px) {
  .dashboard-svg {
    display: none !important;
  }
}

@media only screen and (max-width: 640px) {
  .landing-wrapper {
    /* flex-direction: column !important; */
    flex-direction: column-reverse !important;
  }

  .title-font {
    font-size: 35px !important;
  }

  .primary-font {
    font-size: 15px !important;
  }

  .description-font {
    font-size: 12px !important;
  }

  .muted-font {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 1100px) {
  .footer-font {
    font-size: 20px;
  }
}

@media only screen and (max-width: 766px) {
  .footer-font {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-font {
    font-size: 11px !important;
  }
}
/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.title-font {
  font-size: 50px;
  background: linear-gradient(
    90deg,
    #3300ff 0%,
    rgba(234, 67, 53, 0.957503) 0.01%,
    #4285f4 33.33%,
    #34a853 70.31%,
    #fbbc04 99.99%,
    #ffe600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.primary-font {
  font-size: 30px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.description-font {
  font-size: 18px;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.muted-font {
  font-size: 14px;
  color: #b3b3b3;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.reg-button-small {
  background: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 8px !important;
  border-image: linear-gradient(
    90deg,
    #ff0606 31.25%,
    rgba(36, 0, 255, 0.796044) 63.54%
  );
  border-image-slice: 1;
  padding: 8px 8px;
  font-size: 14px !important;
}

.reg-button-small:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 1100px) {
  .nav-wrapper {
    flex-direction: column !important;
    height: auto !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .reg-button-small {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 766px) {
  .links-wrapper {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .logo-text {
    font-size: 15px !important;
  }
}
/* footer.css */
.footer-wrapper {
  background-image: url('../img/wave.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 65px;
}

.footer-wrapper > .right-section > a {
  height: 35px;
  width: 35px;
  margin-left: 20px;
}

/* footer-sticky.css */
.title-font {
  font-size: 50px;
  background: linear-gradient(
    90deg,
    #3300ff 0%,
    rgba(234, 67, 53, 0.957503) 0.01%,
    #4285f4 33.33%,
    #34a853 70.31%,
    #fbbc04 99.99%,
    #ffe600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.primary-font {
  font-size: 30px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.description-font {
  font-size: 18px;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
.muted-font {
  font-size: 14px;
  color: #b3b3b3;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 1100px) {
  .footer-font {
    font-size: 20px;
  }
}

@media only screen and (max-width: 766px) {
  .footer-font {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-font {
    font-size: 11px !important;
  }
}
.active,
.collapsible:hover {
  background-color: rgb(218, 218, 218);
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
}

.active:after {
  content: '\2212';
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
